@import "tailwindcss";

@layer base {
  body {
    font-family: Inter, system-ui, sans-serif;
    background: #F8FAFC;
    color: #1f2937;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body, #app {
    height: 100%;
  }
}

@layer components {
  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
